# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
.tox/
.cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

##############################################
.vscode/
__*
!__init__.py
!__main__.py
apps/
websaw/utils/
*.log
*.ini

db_test/*
!db_test/placeholder
